@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-size: small;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chat-ipad {
    left: 0px !important;
    width: 100% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1370px) {
  .chat-laptop {
    left: calc(100% - 400px) !important;
    width: calc(100% - 64px) !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

